@font-face {
  font-family: 'PokemonSolid';
  src: url('fonts/pokemon/PokemonSolid.ttf') format('truetype');
}

@font-face {
  font-family: 'PokemonClassic';
  src: url('fonts/pokemon_classic/PokemonClassic.ttf') format('truetype');
}


*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'PokemonClassic', Georgia, serif;
  font-weight: 600;
  background: #36225e;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 900px;
  min-height: 80%;
  background-color: red;
  background-color: #695b86;
  background-image: url('gengar.png');
  background-size: 100px;
  box-shadow: 2px 5px 10px #120f16;
  border-radius: 12px;
}

h1 {
  font-family: 'PokemonSolid';
  font-weight: 100;
  text-align: center;
  font-size: 36px;
  color: rgb(105, 23, 23);
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
  background: rgb(51, 13, 87);
  box-shadow: 2px 2px 5px black;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


label, input {
  width: 500px;
  font-size: 24px;
  font-family: 'PokemonClassic';
}

label {
  text-decoration: underline;
  padding-block: 20px;
}

input {
  padding: 20px;
}

.submit {
  margin-block: 20px;
  background-color: #695b86;
  box-shadow: 5px 5px 10px;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 600;
  transition: all .2s ease-in-out;
}

.submit:hover {
  filter: brightness(1.1);
  color: #1b1724;
}

#pokemonModal {
  display: flex;
  position: absolute;
  margin: 0 auto;
  inset: 0;
  background-color: aliceblue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.452);
  width: 100%;
  height: 100%;
}

#pokemonModalContent {
  border: 2px solid black;
  height: 475px;
  background-color: aliceblue;
  padding: 5px;
  position: relative;
}

.imagen {
  width: 100%;
  background-color: rgb(194, 194, 194);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  width: 300px;
}

.type {
  filter: brightness(0) saturate(100%);
}

.type img {
  width: 50px;
}

.pokemonInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.pokemonInfo h2 {
  background-color: #695b86;
  padding: 5px;
  margin-top: 5px;
  box-shadow: 2px 2px 5px black;
}


.close {
  position: absolute;
  right: 7px;
  top: 0;
  cursor: pointer;
}


/*Ranking*/

/* Contenedor del ranking */
#ranking {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  padding: 10px;
  background-color: #fcdb95; /* Fondo claro */
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3); /* Sombra para destacarlo */
  overflow-y: auto; /* Habilitar scroll si el contenido supera la altura */
  z-index: 1000; /* Asegurar que esté por encima de otros elementos */
  display: none; /* Por defecto, oculto */
  flex-direction: column; /* Asegura que los elementos estén en una columna */
}

/* Botón para abrir el ranking */
.open-ranking {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: #36225e;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
}

.open-ranking:hover {
  filter: brightness(1.1);
}

/* Mostrar ranking al activarlo */
#ranking.show {
  display: flex; /* Se muestra cuando se añade la clase 'show' */
  flex-direction: column;
}

/* Título del ranking */
#ranking h2 {
  text-align: center;
  font-size: 24px;
  margin: 20px 0;
  color: #695b86;
  font-family: 'PokemonClassic';
  text-transform: uppercase; /* Para darle más estilo al título */
  letter-spacing: 2px;
}

/* Contenido del ranking */
#rankingContent {
  padding: 10px;
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  gap: 10px; /* Espacio entre ítems */
  overflow-y: auto; /* Habilitar scroll si es necesario */
}

/* Estilo de los ítems en el ranking */
.rank-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.rank-item .rank {
  font-weight: bold;
  font-size: 20px;
  color: #ffcc00;
  text-align: center;
  width: 30px;
}

.rank-item .pokemon-name {
  font-size: 18px;
  flex-grow: 1;
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: bold;
  color: #333;
}

.rank-item .count {
  font-size: 16px;
  color: #555;
  text-align: center;
}

/* Botón de cerrar el ranking */
.close-ranking {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-ranking:hover {
  background-color: #c82333;
}
