*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'PP Neue Montreal SemiBold';
  src: url('../font/pp-neue-montreal-cufonfonts/ppneuemontreal-semibolditalic.otf') format('opentype');
}

@font-face {
  font-family: 'PP Neue Montreal Medium';
  src: url('../font/pp-neue-montreal-cufonfonts/ppneuemontreal-medium.otf') format('opentype');
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../font/pp-neue-montreal-cufonfonts/ppneuemontreal-medium.otf') format('opentype');
}

a, a::after  {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  font-family: 'PP Neue Montreal';
  font-weight: 600;
  background-color: hsl(200deg 5.88% 90%);
  min-height: 100vh;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid;
}

header nav ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.logo {
  padding: 0;
  line-height: .8;
}

span {
  font-size: 8px;
}


.icon {
  width: 20px;
}


/* New releases section */

.new-releases {
  cursor: grab;
  padding-block: 50px;
  padding-left: 50px;
  position: relative;

  border-bottom: 1px solid black;
}

.new-releases p {
  font-size: 150px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 0;
}


.list-new-releases {
  display: flex;
  gap: 50px;
  z-index: 1;
  position: relative;  
  border: 1px solid black;
  padding: 20px;
}

.new-release-book {
  height: 200px;  /* Establece la altura de las imágenes de los libros */
  border-radius: 4px;
  border: 1px solid;
  padding: 10px;
}
