*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

a {
  text-decoration: none;
  color: white;

}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/neuemontreal/NeueMontreal-Regular.otf') format('opentype');
}


@font-face {
  font-family: 'Neue Montreal Light';
  src: url('../fonts/neuemontreal/NeueMontreal-Light.otf') format('opentype');
}

body {
  font-family: "Neue Montreal Light", sans-serif;
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
}

/* Pantalla de carga */

.charge {
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 9999;
  color: white;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
  position: relative;
  font-size: 48px;
}

svg {
  padding-top: 20px;
}


/* Pagina principal */
.content {
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

header {
  justify-content: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Neue Montreal';
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  height: 200px;
  z-index: 2;
  position: relative;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  gap: 200px;
}

li {
  list-style: none;
}

li a {
  color: rgb(189, 189, 189);
  transition: all .2s ease-in-out;
}

li:hover a {
  color: rgb(255, 255, 255);
  filter: drop-shadow(5px 5px 15px white);
}


/* DESIGNS main content */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  flex-direction: row;
}

main img {
  border-radius: 14px;
  height: 350px;
}


.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400px;
}

.img-container {
  position: absolute;
  transition: transform 0.5s ease, opacity 0.5s ease;
  perspective: 500px; /* Profundidad 3D */
}

.img-container img {
  border-radius: 14px;
  height: 350px;
  transition: transform 0.1s ease-out; /* Suaviza el movimiento */
}

.img-container p {
  padding-block: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-weight: 700;
  display: none;
}

.active p {
  display: block;

}

/* Clase activa para la animación */
.active { transform: translateX(0) scale(1.2); z-index: 2; opacity: 1; filter:contrast(1.1);}

.left { transform: translateX(-650px) scale(0.6); opacity: 0.7; filter:contrast(0.8) brightness(.7);}

.right { transform: translateX(650px) scale(0.6); opacity: 0.7; filter:contrast(0.8) brightness(.7);}

.hidden { transform: scale(0); opacity: 0; filter:contrast(0.8) brightness(.7); }



/* Footer */

footer {
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: end;  
}

footer p {
  transform: rotate(-90deg); /* Rota el contenido -90 grados */
  transform-origin: center center; /* Esto asegura que la rotación se haga desde el centro */
  letter-spacing: 2px;
}



/* Estilo para el enlace activo */
.active-link {
  color: white;
}