@import url('reset.css');
@import url('colors.css');


/* Reset de estilos */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Incluye bordes y padding en el tamaño total */
}

body {
  font-family: "Neue Montreal Light", sans-serif;
  background-color: var(--var-black);
  color: var(--var-white);
  overflow: hidden; /* Evita el scroll no deseado */
  transition: all .2s;
}

body.monospace-font {
  font-family: monospace;
}

body.monospace-font .theme ul li#monospace-font:before {
  content: "\25A0";
}

body.monospace-font .theme ul li:before {
  font-size: 12px;
  margin-right: 3px;
}



body.light-mode {
  background-color: var(--var-white);
  color: var(--var-black);
}

.page {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px; /* Ajusta padding general (bordes) */
}

header {
  position: fixed;
  margin: 35px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  gap: 40px;
  z-index: 10;
}

header h1 {
  font-weight: 100;
}

header p {
  font-size: 14px;
  margin-top: 5px;
  letter-spacing: 12px;
  font-weight: 400;
}

header ul {
  font-family: 'Neue Montreal';
  font-weight: 600;
  font-size: 13px;
  line-height: 1.6;
}

.links {
  margin-block: 20px;
}

.links a {
  transition: all .2s ease-in-out;
}

.links a:hover {
  color: var(--var-gray);
}

main {
  flex: 1; /* Toma todo el espacio restante entre header y footer */
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.384);
  overflow-y: auto; /* Permite scroll dentro de main si el contenido es muy grande */
  margin: 0; /* Elimina el margen que empujaba al main */

}

main.light-mode {
  border: 1px solid black;
}



.theme {
  position: fixed;
  bottom: 35px;
  left: 35px;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.theme ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 12px;
  left: 10px;
}

.theme li {
  cursor: pointer;
}

.theme ul li:before {
  content: "\25A1";
  font-size: 20px;
}

body.light-mode .theme ul li#light-mode:before {
  content: "\25A0";
}

body.dark-mode .theme ul li#dark-mode:before {
  content: "\25A0";
}



.copyright {
  position: fixed;
  display: flex;
  align-items: center;
  justify-self: center;
  bottom: 10px;
  font-weight: 500;
  color: var(--var-gray);
  left: 35px;
  font-size: 12px;
  letter-spacing: 1px;

}




.about {
  font-family: 'Neue Montreal';
  position: absolute;
  width: 100px;
  right: 70px;
  bottom: 70px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4;
}

.projects {
  position: absolute;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100%;
  padding-right: 135px;
  bottom: 0px;
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
  overflow-y: auto; /* Asegúrate de que esto esté presente */
}


.projects ul {
  padding-top: 200px;
  overflow-y: auto;
}

.projects ul::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.projects span {
  font-family: 'Neue Montreal';
  font-size: 11px;
  letter-spacing: 2px;
  margin-right: 20px;
}