@import url('reset.css');
@import url('colors.css');


/* Reset de estilos */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Incluye bordes y padding en el tamaño total */
}

body {
  font-family: "Neue Montreal Light", sans-serif;
  background-color: var(--var-black);
  color: var(--var-white);
  overflow: hidden; /* Evita el scroll no deseado */
  transition: all .2s;
}

body.monospace-font {
  font-family: monospace;
}

body.monospace-font .theme ul li#monospace-font:before {
  content: "\25A0";
}

body.monospace-font .theme ul li:before {
  font-size: 12px;
  margin-right: 3px;
}



body.light-mode {
  background-color: var(--var-white);
  color: var(--var-black);
}

body.light-mode a {
  color: var(--var-black);
}


.page {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px; /* Ajusta padding general (bordes) */
}

header {
  position: fixed;
  margin: 35px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  gap: 40px;
  z-index: 10;
}

header h1 {
  font-weight: 100;
}

header p {
  font-size: 14px;
  margin-top: 5px;
  letter-spacing: 12px;
  font-weight: 400;
}

header ul {
  font-family: 'Neue Montreal';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6;
}

.links {
  margin-block: 10px;
}

.links a {
  transition: all .2s ease-in-out;
}

.links a:hover {
  color: var(--var-gray);
}

main {
  flex: 1; /* Toma todo el espacio restante entre header y footer */
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.384);
  overflow-y: auto; /* Permite scroll dentro de main si el contenido es muy grande */
  margin: 0; /* Elimina el margen que empujaba al main */
  position: relative;
  overflow-x: hidden;
}

main.light-mode {
  border: 1px solid black;
}



.theme {
  position: fixed;
  bottom: 35px;
  left: 35px;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.theme ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 12px;
  left: 10px;
}

.theme li {
  cursor: pointer;
}

.theme ul li:before {
  content: "\25A1";
  font-size: 20px;
}

body.light-mode .theme ul li#light-mode:before {
  content: "\25A0";
}

body.dark-mode .theme ul li#dark-mode:before {
  content: "\25A0";
}



.copyright {
  position: fixed;
  display: flex;
  align-items: center;
  justify-self: center;
  bottom: 10px;
  font-weight: 500;
  color: var(--var-gray);
  left: 35px;
  font-size: 12px;
  letter-spacing: 1px;

}


.about {
  font-family: 'Neue Montreal';
  position: absolute;
  width: 100px;
  right: 70px;
  bottom: 70px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4;
}

.projects {
  position: absolute;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100%;
  padding-right: 135px;
  bottom: 0px;
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
  overflow-y: auto; /* Asegúrate de que esto esté presente */
}

.project-list {
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
}

.projects ul {
  padding-top: 200px;
  overflow-y: auto;
}

.projects ul::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.projects span {
  font-family: 'Neue Montreal';
  font-size: 11px;
  letter-spacing: 2px;
  margin-right: 20px;
} 

.project-list li, .project-list li a {
  transition: all .2s ease-in-out;
}

.project-list li:hover, .project-list li:hover a {
  color: var(--var-gray);
}



/* Info */

.info-box {
  display: grid;
  width: 100%;
  z-index: 9999999;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


.info {
  font-size: 12px;
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: 1px;
}

.info li {
  font-family: 'Neue Montreal';
}

.info a {
  transition: all .2s ease-in-out;
}

.info a:hover {
  color: var(--var-gray);
}


.professional-contact {
  grid-column: 1;
  grid-row: 2;
  text-align: right;
  align-items: end;
}

.experience {
  grid-column: 2;
  grid-row: 2;
  text-align: right;
  align-self: end;
}

.side-projects {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
  align-self: start;
}


.experience span {
  font-weight: 100;
}


/* Contact */

.github {
  font-family: 'Neue Montreal';
  position: absolute;
  right: 50px;
  bottom: 50px;
}


/* FAQ */

.FAQ {
  padding-top: 130px;
  text-transform: none;
  letter-spacing: 1.1px;
  font-size: 12px;
  position: absolute;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100%;
  padding-inline: 100px;
  bottom: 35px;
  overflow-y: auto;
  
}


.FAQ-list {
  font-size: 12px;
  width: 500px;

}



.FAQ-list h3 {
  font-size: 12px;
  padding-block: 60px 20px;
  font-family: 'Neue Montreal';
}

.FAQ-list p {

  padding-block: 5px;
  margin-right: 50px;
}

.FAQ ul {
  margin: 0;
  padding: 0;
}

.FAQ-list ul li {
  padding-block: 5px;
}

.FAQ ul li a {
  text-decoration: underline;
}



/* Copycast */

.copycast-list p {
  padding-block: 5px;
  letter-spacing: 1.2px;
}

.copycast-list a {
  font-family: 'Neue Montreal';
  font-weight: 600;
  text-decoration: underline;
}


canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* No interfiere con clics */
}